<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.react.tune"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Tune SDK adding -->
    <permission android:name="com.demo.react.tune.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.demo.react.tune.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />


      <receiver android:name="com.tune.ma.push.service.TunePushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <category android:name="com.demo.react.tune" />
            <!-- To support pre-4.4 KitKat devices -->
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        </intent-filter>
      </receiver>
      <service android:name="com.tune.ma.push.service.TunePushService" />
    </application>

</manifest>
